[submodule "Part1/ex11/material-applications"]
	path = Part1/ex11/material-applications
	url = https://github.com/docker-hy/material-applications.git
[submodule "Part1/ex12/material-applications"]
	path = Part1/ex12/material-applications
	url = https://github.com/docker-hy/material-applications.git
[submodule "Part1/ex13/material-applications"]
	path = Part1/ex13/material-applications
	url = https://github.com/docker-hy/material-applications.git
[submodule "Part1/ex14/material-applications"]
	path = Part1/ex14/material-applications
	url = https://github.com/docker-hy/material-applications.git
[submodule "Part2/ex3/material-applications"]
	path = Part2/ex3/material-applications
	url = https://github.com/docker-hy/material-applications.git
[submodule "Part2/ex4/material-applications"]
	path = Part2/ex4/material-applications
	url = https://github.com/docker-hy/material-applications.git
[submodule "Part2/ex5/material-applications"]
	path = Part2/ex5/material-applications
	url = https://github.com/docker-hy/material-applications.git
[submodule "Part2/ex6/material-applications"]
	path = Part2/ex6/material-applications
	url = https://github.com/docker-hy/material-applications.git
[submodule "Part2/ex8/material-applications"]
	path = Part2/ex8/material-applications
	url = https://github.com/docker-hy/material-applications.git
[submodule "Part2/ex9/material-applications"]
	path = Part2/ex9/material-applications
	url = https://github.com/docker-hy/material-applications.git
[submodule "Part2/ex10/material-applications"]
	path = Part2/ex10/material-applications
	url = https://github.com/docker-hy/material-applications.git
[submodule "Part2/ex11/blog-list-backend"]
	path = Part2/ex11/blog-list-backend
	url = https://github.com/anhtumai/blog-list-backend.git
	branch = containerize

[submodule "Part2/ex11/blog-list-frontend-v2"]
	path = Part2/ex11/blog-list-frontend-v2
	url = git@github.com:anhtumai/blog-list-frontend-v2.git
	branch = containerize
[submodule "Part3/ex4/material-applications"]
	path = Part3/ex4/material-applications
	url = https://github.com/docker-hy/material-applications.git
[submodule "Part3/ex5/material-applications"]
	path = Part3/ex5/material-applications
	url = https://github.com/docker-hy/material-applications.git
